/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.addbutton {
    margin-bottom: 10px;
}

#CustomerTable th:nth-child(1), td:nth-child(1) {
    display: none;
}

.navbar-inverse {
    background-color: #9ea2b7 !important;
}

.navbar-brand:hover {
    color: #428bca !important;
}

.navbar-brand {
    color: white !important;
}

#LanguageMenu img{
    width:15px;
}

.level1:hover {
    color: #428bca;
}

.level1 {
    color: white !important;
}