/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.addbutton {
    margin-bottom: 10px;
}

.navbar-brand {
    color: #428bca !important;
}

.btnResize {
    width: 100px !important;
    min-width: 100px !important
}

footer {
    text-align: center;
    margin-top: 100px;
}

#CustomerTable tr th {
    background-color: #c3c3c3 !important;
}

#searchInput {
    width: 200px !important;
    float: right;
    margin-bottom: -20px;
}

.searchInput {
    margin-bottom: -20px;
}